
.input{
   width: 100%;
   background: #333333;
   border-radius: 7px;
   border: 0;
   outline: none;
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
   color: #FFFFFF;
   padding: 10px 12px;
}